<!--Herencia de Plantillas - Jinja2-->
{% extends "panel-header.html" %}
{% block content %}
<div class='bienvenida'>
    <h1 class="display-4">¡Grupo IDIS - AVI 3.0!</h1>
        <div class="introduccion_container">
            <h2 class="subtitulo">Bienvenido a tu Aula Inmersiva</h2>
        </div>

    <hr class="my-4">
    <p>para crear una sala dale click al boton Crear.</p>
    <p class="lead">
        <a class="btn-lg" href="{{ url_for('main.crea_sala') }}" role="button"> 📹Crear </a>
    </p>
</div>
{% endblock %}