<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readme</title>
    <div class="col-12 col-md-8 mx-auto">
    <h1>¡Experiencia de usuario inmersiva, AVI, Bienvenido a tu Aula Inmersiva!</h1>
    </div>

    <div>
        <p>Bienvenido a tu Aula Inmersiva <br>
            1. Crea la Sala: Asigna un nombre único a tu sesión.<br>
            2. Toma el Control: Ingresa como anfitrión para gestionar lo que ven tus usuarios.<br>
            3. Invita: Comparte el enlace para que se conecten al instante.
        </p>
    </div>
    <p class="lead">
        <a class="btn-lg" href="{{ url_for('main.crea_sala') }}" role="button"> Crear </a>
    </p>

    <div class="image">
        <img class="img-fluid blur-up lazyloaded" alt="imagen ilustrativa de AVI 3.0 " srcset="https://editor.analyticsvidhya.com/uploads/51525hand_crops.png">

    </div>

    <div>
        <h2>MediaPipe en JavaScript</h2>
    </div>

    <div>
        <p>
            Libreria utilizada para usar la varita magica <br>
            1. con un dedo levantado la herramienta detecta el lazer <br>
            2. con 2 dedos se puede dibujar sobre el canvas <br>
            3. con 4 y 5 dedos aparecera el señalizador <br>
            4. con el puño se eliminan trazos
        </p>
    </div>

    <div>
        <h2>Integracion con Vdo ninja </h2>
        <p>

        </p>

    </div>

    <div>
        <img class="img-fluid blur-up lazyloaded" alt="imagen ilustrativa de AVI 3.0 " srcset="https://docs.vdo.ninja/~gitbook/image?url=https%3A%2F%2Flh3.googleusercontent.com%2FhqQhbNUaiXIdsR3-jKUVySOwgG7ds07QPKZJVbhapaTNyvoWp1EHXA-pPJqlO15TKGaoZdNA1UATly8Ed2-5bu4zXm5mf4rnj_q3rMbOpWTrh1Y1mx9I3b_ryVAI9pd_0uU6Hs41Q5mbkDY&width=300&dpr=1&quality=100&sign=8a9eb6bd&sv=2"> <br>

        <a href="https://docs.vdo.ninja/advanced-settings/api-and-midi-parameters/api/api-reference-ai-generated">Documentacion Vdo.Ninja</a>
    </div>

    <div>
        <h2>Comunicarse en tiempo real</h2>

    </div>

    <div>
        <p>chat que utiliza el patron publicacion suscripcion ademas de ser stateless</p>

    </div>

    <div>
        <h2>flujos de video movibles</h2>
    </div>

    <div>
        <p>
            cajitas interactivas de video mivibles
        </p>
    </div>

</head>
<body>

</body>
</html>