{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">¡BIENVENIDO A AVI!</h1>
  <p class="lead">Esta herramienta permite replicar la funcionalidad del software ClassVR en la plataforma de software abierto Vdo Ninja con el fin de permitir una experiencia de usuario inmersiva y con mínimos retardos en la transmisión de los flujos de videos.
.</p>
  <hr class="my-4">
  <p>para crear una sala dale al boton de abajo.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button"> Crear </a>
  </p>
</div>
{% endblock %}